<header class="menu-bar">
  <app-nav-bar></app-nav-bar>
</header>
<section class="profile-section">
  <main class="content">
    <section class="posts-section">
      <div class="profile-navigation">
        <button class="navigation-button public-posts">Public posts</button>
        <button class="navigation-button private-posts">Private posts</button>
      </div>
      <div class="profile-sidebar">
        <img src="assets/icons/google-logo.png" alt="Profile image" class="profile-image" />
        <h2 class="username">{{ this.authService.loggedUser.username }}</h2>
      </div>
      <div class="profile-navigation">
        <button class="navigation-button saved">Saved</button>
        <button class="navigation-button edit-profile">Edit profile</button>
      </div>
    </section>
  </main>
</section>
<section class="profile-section">
  <div class="profile-header">{{ profileDescription }}</div>
  <div class="filter-nav">
    <button (click)="onFilterClick()" class="filter-button">Filter
      <img src="{{filterIconSrc}}" alt="Filter" class="filter-icon"/>
    </button>
  </div>
  <section class="filter-view">
    <hr class="separator"/>
    <h2 class="filter-name">{{ filterName }}</h2>
    <hr class="separator"/>
  </section>
  <main class="content-wrapper">
    <article (click)="onImageArticleClick()" class="image-article">
      <img src="{{imageSrc}}" alt="Scenic view" class="article-image"/>
    </article>
    <article (click)="onImageArticleClick()" class="image-article">
      <img src="{{imageSrc}}" alt="Scenic view" class="article-image"/>
    </article>
    <article (click)="onImageArticleClick()" class="image-article">
      <img src="{{imageSrc}}" alt="Scenic view" class="article-image"/>
    </article>

  </main>
</section>
